@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans serif;
    font-weight: 400;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
}
p{
    
    padding: 10px;
    margin:0px;
    
    
}
.qr {
    color: hsl(220, 15%, 55%);
    font-size: 13px;
}
.bold{
    font-weight: 900;
    font-size: 16px;
    
    
}
.container {
    font-size: 15px;
    text-align: center;
    width: 210px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5%;
    box-shadow: .5rem .5rem 1rem hsla(218, 44%, 22%, 10%)
}
img{
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

      
    }
}
